<?xml version="1.0"?>
<!--
/**
 * eGlobe IT Solutions (P)Ltd.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.eglobeits.com/license.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to hello@eglobeits.com so we can send you a copy immediately.
 *
 * =================================================================
 *                     MAGENTO USAGE NOTICE
 * =================================================================
 * This package designed & developed for Magento COMMUNITY edition
 * eGits does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * eGits does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Egits
 * @package    Egits_GoogleTagManager
 * @version    0.1.0
 * @copyright  Copyright (c) 2015-2016 eGlobe IT Solutions (P)Ltd. (http://www.eglobeits.com/)
 * @author     eGits Team <hello@eglobeits.com>
 * @license    http://ecommerce.eglobeits.com/license.txt
 */
-->
<config>
    <modules>
        <Egits_GoogleTagManager>
            <version>0.1.0</version>
        </Egits_GoogleTagManager>
    </modules>
    <frontend>
        <layout>
            <updates>
                <egits_gtm>
                    <file>egits_googletagmanager.xml</file>
                </egits_gtm>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <egits_gtm>
                <class>Egits_GoogleTagManager_Helper</class>
            </egits_gtm>
        </helpers>
        <blocks>
            <egits_gtm>
                <class>Egits_GoogleTagManager_Block</class>
            </egits_gtm>
        </blocks>
    </global>
    <default>
        <egits_gtm>
            <general>
                <active>1</active>
                <container_enabled>0</container_enabled>
            </general>
            <transaction>
                <active>0</active>
                <affiliation>My Store</affiliation>
            </transaction>   
            <remarketing>
                <active>0</active>
            </remarketing>   
        </egits_gtm>
    </default>
</config>
